#defaults {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}
* {
  outline: none;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  background: #fff;
}
a img {
  border: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em 0;
  padding: 0;
  line-height: 1.123;
  font-weight: normal;
}
input,
select,
textarea {
  font-size: inherit;
  font-family: inherit;
}
p {
  margin: 0px 0px 1em 0px;
  padding: 0;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.overflow {
  overflow: hidden;
}
.clear {
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
div.hr {
  height: 1px;
  margin: 10px 0px 10px 0px;
  font-size: 1px;
  line-height: 1px;
}
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wrap-all {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-top: 0;
  margin-bottom: -4em;
  /* нижний margin является отрицательной величиной высоты wrapFooter */
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}
.wrap-footer,
.push-footer {
  height: 4em;
  /* .pushFooter должен быть той же высоты, что и .wrapFooter */
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}
button,
a.button {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  border: none;
  border-collapse: collapse;
}
button::-moz-focus-inner,
a.button::-moz-focus-inner {
  border: none;
}
