@import "normalize.css";
@import "../js/fancybox/jquery.fancybox.css";
@import "../js/slick/slick.css";
@import "../js/slick/slick-theme.css";
@import "helpers.css";
#mdi {
  font: normal normal normal 24px/1 MaterialDesignIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
#defaults {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
:root {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
a.more::after {
  font: normal normal normal 24px/1 MaterialDesignIcons;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: '  \f142';
  display: inline;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.wrap-all {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-top: 0;
  margin-bottom: -4em;
  /* нижний margin является отрицательной величиной высоты wrapFooter */
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}
.wrap-footer,
.push-footer {
  height: 4em;
  /* .pushFooter должен быть той же высоты, что и .wrapFooter */
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}
button,
a.button {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  border: none;
  border-collapse: collapse;
}
button::-moz-focus-inner,
a.button::-moz-focus-inner {
  border: none;
}
