@import "normalize.css";
@import "../js/fancybox/jquery.fancybox.css";
@import "../js/slick/slick.css";
@import "../js/slick/slick-theme.css";
@import "vars.less";

#defaults {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


// Remove text-shadow in selection highlight:
// https://twitter.com/miketaylr/status/12228805301
// These selection rule sets have to be separate.
// Customize the background color to match your design.

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

:root {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a.more::after {
  #mdi;
  content: '  \f142';
  display: inline;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

// browser upgrade prompt
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


// main styles
.wrap-all {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-top: 0;
  margin-bottom: -@footer-height; /* нижний margin является отрицательной величиной высоты wrapFooter */
  #defaults;
}

.wrap-footer, .push-footer {
  height: @footer-height; /* .pushFooter должен быть той же высоты, что и .wrapFooter */
  #defaults;
}

button, a.button {
  .box-sizing(border-box);
  display: inline-block; position: relative;
  border: none; border-collapse: collapse;
  &::-moz-focus-inner {border: none;}
}

// other includes
@import "helpers.css";
