.round (@angle){
  -webkit-border-radius: @angle;
  -khtml-border-radius: @angle;
  -moz-border-radius: @angle;
  -ms-border-radius: @angle;
  -o-border-radius: @angle;
  border-radius: @angle;
}

.shadow (@shadow){
  -webkit-box-shadow: @shadow;
  -khtml-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -ms-box-shadow: @shadow;
  -o-box-shadow: @shadow;
  box-shadow: @shadow;
}

.box-sizing (@sizing){
  -webkit-box-sizing: @sizing;
  -khtml-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -ms-box-sizing: @sizing;
  -o-box-sizing: @sizing;
  box-sizing: @sizing;
}

@font-arial: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
@footer-height: 4em;